@import '../../../assets/styles/abstracts/variables';


:host {
    height: 100%;
    display: grid;
    grid-template-rows: 60% 40%;
}

.top-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-box app-title {
    margin-bottom: 24px;
}

.bottom-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.w100 {
    width: 100%;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image is scaled to fit and centered */
    border-radius: 12px;
    border: 5px solid $linework-color;
}

.title-box {
    margin: 17px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow:
    -3px -8px 0 $linework-color,
     3px -8px 0 $linework-color,
    -3px  8px 0 $linework-color,
     3px  8px 0 $linework-color;
     * {
         font-size: 50px;
     }
     text-align: center;
}

.title-first {
  color: #ff5733; /* red-orange */
}

.title-second {
  color: #ffe066; /* yellow-sandy */
}

.name-input {
  color: $linework-color;
  background-color: $background-color;
  border-radius: 12px;
  padding: 12px 12px;
  border: 5px solid $linework-color;
  width: 100%;
  font-size: 30px;
  line-height: 22px;
  text-align: center;

  
  input {
    text-align: center;
    width: 100%;
    border-radius: 12px;
    margin-top: 10px;
  }
  
  input:focus {
    outline: none;
    border-color: $accent-color;
  }
}
