@use '../../../assets/styles/abstracts/variables';


:host {
    height: 100%;
    display: grid;
    grid-template-rows: 60% 40%;
}

.top-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-box app-title {
    margin-bottom: 24px;
}

.bottom-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.w100 {
    width: 100%;
}

img {
    width: 100%;
    height: calc(100% - 72px);
    object-fit: cover;
    /* Ensures the image is scaled to fit and centered */
    border-radius: 12px;
    border: 5px solid variables.$linework-color;
}

.title-box {
    margin:  0 0 10px 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow:
    -3px -8px 0 variables.$linework-color,
     3px -8px 0 variables.$linework-color,
    -3px  8px 0 variables.$linework-color,
     3px  8px 0 variables.$linework-color;
     * {
         font-size: 50px;
     }
}

.title-first {
  color: #ff5733; /* red-orange */
}

.title-second {
  color: #ffe066; /* yellow-sandy */
}