@use '../../../assets/styles/abstracts/variables';

button {
    color: variables.$linework-color;
    background-color: variables.$background-color;
    border-radius: 12px;
    padding: 12px 12px;
    cursor: pointer;
    border: 5px solid variables.$linework-color;
    width: 100%;
    transition: background 0.2s, color 0.2s;
}

button:hover {
    background-color: variables.$accent-color;
    color: variables.$background-color;
}

button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    border-color: #afafaf;
    cursor: not-allowed;
    // opacity: 0.7;
}